* {
    font-family: Verdana, sans-serif;
}

body{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0.2em;
    background-color: rgb(241, 253, 253);
}

span {
    position: relative;
    margin: -14px 0;
    font-size: 56px;
}

ul {
    display: block;
    margin: 1em;
    padding: 0;
    list-style: none;
    text-align: center;
}

li {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 12px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

h1 {
    text-align: center;
    margin: 1em 0 0 0;
}

h2 {
    font-size: 20px;
}

img {
    width: auto;
    margin-top: 0.8em;
}

p {
    font-size: 11px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color:#f34d00;
}

footer{
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1.8em;
    color: rgba(255, 255, 255, 0.767);
    background-color: black;
    font-size: 9px;
    line-height: 2em;
}


/* Classes */
.header__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 95%; 
    max-width: 850px; 
    margin-left: auto; 
    margin-right: auto;  
}

.subtitle {
    text-align: center;
    font-size: 8px;
}

.img__text{
    margin: 1.5em 4em;
}

.autor__text--container {
    display: flex;
    margin: 0;
    margin-left: 1.5em;
}

.vertical__rectangle {
    min-width: 5px;
    height: auto;
    margin-right: 0.8em;
    background-color: #f34d00;
}

.autor__text {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: italic;
}

.bibliografia{
    margin: 2.5em 0;
    font-size: 9px;
}