* {
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(43,52,69);
}

body{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0.2em;
    background-color: rgb(241, 245, 249);
}

span {
    position: relative;
    margin: -14px 0;
    font-size: 56px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1em 0 0 0;
}

li {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 12px;
}

nav ul li a {
    color: rgb(43,52,69);
}

nav ul li a#active {
    color: rgb(254, 105, 106);
}

nav ul li a#active:hover {
    color: rgba(254,105,106,0.5);

}


/* Content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

h1 {
    text-align: center;
    margin: 1em 0 0 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
    margin-bottom: 0;
}

img {
    width: auto;
    margin-top: 0.8em;
}

p {
    font-size: 11px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color:#f34d00;
}

a:hover {
    color: rgba(254,105,106,0.5);
}

ol li{
    font-weight: lighter;
}

ul {
    list-style: disc;
    margin: 1em 0;
}


footer{
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1.8em;
    color: rgba(255, 255, 255, 0.767);
    background-color: black;
    font-size: 9px;
    line-height: 2em;
}


/* Classes */
.header__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: rgb(43,52,69);
}

.header__title:hover{
    color: rgb(43,52,69);
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 95%; 
    max-width: 850px; 
    margin-left: auto; 
    margin-right: auto;  
}

.subtitle {
    text-align: center;
    font-size: 8px;
}

.img__text{
    margin: 1.5em 4em;
}

.autor__text--container {
    display: flex;
    margin: 0;
    margin-left: 1.5em;
}

.vertical__rectangle {
    min-width: 5px;
    height: auto;
    margin-right: 0.8em;
    background-color: rgb(254, 105, 106)
    ;
}

.autor__text {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: italic;
}

.bibliografia{
    margin: 2.5em 0;
    font-size: 9px;
}

.list__title {
    font-size: 16px;
}

.users__img {
    list-style-image: url("../img/users.svg");
}

.redes__container-section {
    display: block;
    justify-content: center;
    align-items: center;
}

.redes__container-section p {
    margin: 0.35em 0;
}

.redes__container-section--img {
    display: block;
    text-align: center;
}

.redes__container-section--img img {
    margin: 0;
    width: 250px;
}

.redes__container-section--img p {
    font-size: 8px;
}

.mas__info {
    padding-top: 0.75em;
    padding-bottom: 1em;
}
